<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}

  <div id="content">
    <main id="article-list">
      <article>
        <header>
          <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        </header>

        <span class="post-date">{{ .Date.Format "2 Jan, 2006" }}</span>

        {{ if .Params.tags }}
	      <span class="post-tags">
  	        {{ range .Params.tags }}
	          #<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
	          {{ end }}
        </span>
        {{ end }}

        <div class="content">
          {{ .Content }}
        </div>

        <footer>
          <ul>
            <li class="share-via">share via</li>
            <li class="share-via-twitter"><a href="javascript:;">twitter</a></li>
            <li class="share-via-pinterest"><a href="javascript:;">pinterest</a></li>
            <li class="share-via-facebook"><a href="javascript:;">facebook</a></li>
          </ul>
          {{ partial "comments.html" . }}
        </footer>
      </article>
      <div class="pagination">{{ if .Prev }}
        <a class="btn previous " href="{{.Prev.Permalink}}"> Prev</a> {{ end }} {{ if .Next }}
        <a class="btn next " href="{{.Next.Permalink}}"> Next</a> {{ end }}
      </div>
    </main>
  </div>
  {{ partial "footer.html" . }}
  {{ with .Site.Params.AnalyticsID }}{{ partial "analytics.html" . }}{{ end }}

</body>

</html>
