<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}

  <div id="content">
    <main id="article-list">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }} {{ range $paginator.Pages }}
      <article>
        <header>
          <span class="post-date">{{ .Date.Format "2 Jan, 2006" }}</span>
          <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        </header>

        {{ if .Params.tags }}
			<span class="post-tags">
		  	{{ range .Params.tags }}
			          #<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
		  	{{ end }}
		    </span>
        {{ end }}
        {{ .Summary }}

        <footer>
          {{ partial "share-links.html" . }}
        </footer>
      </article>
      {{ end }}
      {{ partial "pagination.html" . }}
    </main>
    {{ partial "sidebar.html" . }}
  </div>
  {{ partial "footer.html" . }}
  {{ with .Site.Params.AnalyticsID }}{{ partial "analytics.html" . }}{{ end }}

</body>

</html>
