<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}

  <div id="content">
    <main id="article-list">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }} {{ range $paginator.Pages }}
      <article>
        <header>
          <span class="post-date">{{ .Date.Format "2 Jan, 2006" }}</span>
          <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        </header>

        {{ if .Params.tags }}
			<span class="post-tags">
		  	{{ range .Params.tags }}
			          #<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
		  	{{ end }}
		    </span>
        {{ end }}
        {{ .Summary }}

        <footer>
          <ul>
            <li class="comments"><a href="{{ .Permalink }}#disqus_thread">comments</a></li>
            <li class="comment"><a href="{{ .Permalink }}#comments">Comment</a></li>
            <li class="share-via">or share via</li>
            <li class="share-via-twitter"><a href="https://twitter.com/intent/tweet?text={{ .Title }} {{ .Permalink }}" class="share-icon icon-twitter" target="_blank"></a></li>
            <li class="share-via-pinterest"><a href="http://pinterest.com/pin/create/button/?url={{.Permalink}}&amp;media={URI-encoded URL of the image to pin}&amp;description={{.Title}}" class="share-icon icon-pinterest" target="_blank"></a></li>
            <li class="share-via-facebook"><a href="https://www.facebook.com/sharer.php?u={{.Permalink}}&amp;t=" class="share-icon icon-facebook" target="_blank"></a></li>
          </ul>
        </footer>
      </article>
      {{ end }}
      {{ partial "pagination.html" . }}
    </main>
    {{ partial "sidebar.html" . }}
  </div>
  {{ partial "footer.html" . }}
  {{ with .Site.Params.AnalyticsID }}{{ partial "analytics.html" . }}{{ end }}

</body>

</html>
